[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
.vscode/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.suo
*.userprefs
*.idea/
*.apk
*.aab
# Ignore large video files
/Assets/StreamingAssets/
# Ignore File Browser Plugin
Assets/Plugins/UnityStandaloneFileBrowser-master/
